/* VARIABLES */
:root {
    --primary-brand-color: #1D3557;
    --primary-brand-shadow: #172A45;
    --secondary-brand-color: #A8DADC;
    --tertiary-brand-color: #457B9D;
    --primary-highlight-color: #E63946;
    --primary-bg-color: #F1FAEE; 
}

* {
    box-sizing: border-box;
}

body {
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: var(--secondary-brand-color);
}

main {
    margin: 20px;
    color: var(--primary-brand-color);
	font-family: 'Open Sans', sans-serif;
}

/* ================================= 
  Header Styles
==================================== */

.brand-name {
    font-family: 'Patua One', cursive;
}

header {
    background-color: var(--primary-brand-color);
} 

.nav, button {
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

.plain-link {
	text-decoration: none;
}

.brand-name, .main-nav a, button {
    color: var(--primary-bg-color);
    font-size: .99em;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.logo a,
.main-nav a, button {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a:hover {
    background-color: var(--tertiary-brand-color);
}

/* ================================= 
  Secondary Navigation
==================================== */

.secondary-nav {
	display: flex;
	align-items: right;
	justify-content: right;
}

.secondary-nav li {
	background-color: var(--primary-brand-color);
	color: var(--primary-bg-color);
}

/* ================================= 
  Client Card Styles
==================================== */

.client-card {
	background-color: #FFF;
	padding: 1px 20px;
	margin: 15px 0px;
	box-shadow: 3px 3px 10px #888888;
}

.warning:hover {
	background-color: var(--primary-highlight-color);
}

.nudge {
	position: relative;
	top: 9px;
	margin: 0 10px;
}

.trash-button{
	display: contents;
}

#trash-icon {
	color: var(--primary-highlight-color);
}

.delete-form{
	display: inline;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    }
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}

